/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero-title {
  background: linear-gradient(130.2deg, #f0c103 -19.23%, #f0c103 102.03%);
  /* font-family: 'Work Sans'; */
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 60px;
}

.hero-desc {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #b9c0d4;
  margin-bottom: 24px;
}

.hero-badges {
  margin-bottom: 24px;
  text-align: center;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.doc-button {
  font-weight: bold;
  background: #e5e7ec;
  padding: 10px 100px;
  border-radius: 16px;
  color: black;
  cursor: pointer;
}

.doc-button:hover {
  color: black;
  background: #cbced6;
  text-decoration: none;
}

.doc-button:active {
  color: black;
  background: #b3b7c2;
}


.pageButton {
  border-radius: 16px;
  justify-content: center;
  width: 200px;
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
  font-size: 16px;
  font-family: 'Satoshi', sans-serif;
  line-height: 17px;
  cursor: pointer;
  border: 0;
  background-color: hsl(48, 100%, 54%);
}

.buttonContainer {
  display: flex;
  gap: 20px;
}

